<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your_brain</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="body bg-zinc-900 h-screen w-screen">
      <form
        method="post"
        action="/login"
        class="w-full flex flex-col justify-center items-center bg-zinc-800"
      >
        <input
          type="text"
          name="email"
          placeholder="email"
          class="w-1/2 my-2 p-2 bg-zinc-700 rounded-md text-white mt-4 focus:outline-none focus:bg-zinc-500"
        />

        <input
          type="text"
          name="password"
          placeholder="password"
          class="w-1/2 my-2 p-2 bg-zinc-700 rounded-md text-white mt-4 focus:outline-none focus:bg-zinc-500"
        />
        <input
          type="submit"
          value="Login"
          class="w-1/8 my-2 p-2 bg-blue-700 rounded-xl text-white mt-4 focus:outline-none focus:bg-blue-500 cursor-pointer mb-9"
        />
      </form>
    </div>
  </body>
</html>
